html,
body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Inter", sans-serif;
  place-items: center;
  grid-template-rows: auto auto auto   ;
  height: 100vh;
  background: #374151 url("../public/bg.svg");
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
a {
  color: inherit;
  text-decoration: none;

}

* {
  box-sizing: border-box;
}
ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: 100%;
}
li {
  margin: 0 0.5rem;
  list-style: none;

}
li img {
  flex: 1;
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background:rgba(11 19 29 /0.5);
  backdrop-filter: blur(6px);
}