@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
  margin-left: 5rem;
}


.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: rgba(0, 0, 0, 0.48);
}
.card:hover {
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  transition: 1s;

}
.imagen_mi{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.container_hero{
  margin:auto 1rem;
  padding: 1rem;
  border-radius: 10px;
  width: 50%;
  background:rgba(11 19 29 /0.5);
  backdrop-filter: blur(6px);
}
.home_banner{
  margin-top: 4rem;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  padding: 2rem 5rem;
}
.social{
  display: flex;
}
.social__icon{
  margin: 10px 10px 10px 0;
}
@media (max-width: 768px) {
  .home_banner{
    flex-direction: column;
    padding: 2rem 1rem;
  }
  .container_hero{
    width: 100%;
  }
  .container{
    margin-left: 0;
  }
}
.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.containerHome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.container__blog{
  padding: 2rem;
  display: flex;
}
.imagen_blog{
  object-fit: cover;
  border-radius: 50%;
}
.container__blog__mdx{
  padding-left: 2rem;
  text-align: justify;
  background:rgba(11 19 29 /0.5);
  backdrop-filter: blur(6px);
}
.link{
  color: #fff;
  text-align: center;
  padding: .2rem .5rem;
}
.link__navbar{
  display: flex;
  align-items: center;
}
.link:hover{
  text-decoration: none;
  color: #000;
  text-align: center;
  background: #fff;
}
.button{
  background: #fff;
  margin-top: 1rem;
  margin-right: 1rem;
  padding: .2rem .5rem;
  border:none;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  text-align: center;
  transition: .3s;
  cursor: pointer;
}
.button:hover{
  background: #000;
  color: #fff;
}
.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
  background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}